<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Web interface of Code::Explain</title>
<link rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>

</head>
<body>
<% content %>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a>
</div>
</body>
</html>
